<!--Name - Charles Nana Kwakye-->
<!--student number - r0879035-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Departments</title>
    <link rel="stylesheet" th:href="@{../img/style.css}">
</head>
<body>
<h3 th:text="'Department of ' + ${supermarket.getName()} "></h3>

<ol>
    <li th:each="eachDepartment : ${supermarket.getDepartmentList()}">
        <span th:text="${eachDepartment.getName()}"></span>
        <span th:if="${eachDepartment.isRefrigerated()}">- Refrigerated department</span>
        <span th:if="${!eachDepartment.isRefrigerated()}">- No refrigeration</span> <br>
        <span th:text="'-responsible: '+${eachDepartment.getResponsible().getFirstName()} + ' ' + ${eachDepartment.getResponsible().getSurName()}"></span><br>
        <img onerror="this.src='img/noimage.jpg'" th:src="@{${eachDepartment.getPhoto()}}">
    </li>
</ol>
<p><a href="/">Back to homepage</a></p>
</body>
</html>